$color_1: #0c0c0c;
$color_2: #000000;
$color_3: #ffffff;
$color_4: initial;
$color_5: #162752;
$color_6: #3b3a3a;
$color_7: #101010;
$color_8: #737272;
$color_9: #222222;
$font-family_1: "Poppins", sans-serif;

/*header section*/
/*end header section*/
/* slider section */
/* info section */
/* end info section */
/* footer section*/
body {
	font-family: $font-family_1;
	color: $color_1;
	background-color: #ffffff;
}
.layout_padding {
	padding-top: 90px;
	padding-bottom: 90px;
}
.layout_padding2 {
	padding-top: 45px;
	padding-bottom: 45px;
}
.layout_padding2-top {
	padding-top: 45px;
}
.layout_padding2-bottom {
	padding-bottom: 45px;
}
.layout_padding-top {
	padding-top: 90px;
}
.layout_padding-bottom {
	padding-bottom: 90px;
}
.heading_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	h2 {
		position: relative;
		font-weight: bold;
		margin-right: 10px;
	}
	img {
		width: 30px;
	}
}
.hero_area {
	height: 98vh;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #eae6f5;
}
.sub_page {
	.hero_area {
		height: auto;
	}
}
.header_section {
	.container {
		padding: 0;
	}
	.nav_container {
		margin: 0 auto;
	}
}
.custom_nav-container {
	.navbar-nav {
		.nav-item {
			.nav-link {
				padding: 7px 20px;
				margin: 10px 15px;
				color: $color_2;
				text-align: center;
				border-radius: 35px;
				text-transform: uppercase;
				font-size: 15px;
			}
			&:hover {
				.nav-link {
					background-color: #162752;
					color: $color_3;
				}
			}
		}
		.nav-item.active {
			.nav-link {
				background-color: #162752;
				color: $color_3;
			}
		}
	}
	.nav_search-btn {
		background-image: url(../images/search-icon.png);
		background-size: 22px;
		background-repeat: no-repeat;
		background-position-y: 7px;
		width: 35px;
		height: 35px;
		padding: 0;
		border: none;
	}
	z-index: 99999;
	.navbar-toggler {
		outline: none;
		padding: 0;
		width: 37px;
		height: 42px;
		span {
			display: block;
			width: 35px;
			height: 4px;
			background-color: #162752;
			margin: 7px 0;
			-webkit-transition: all .3s;
			transition: all .3s;
		}
	}
	.navbar-toggler[aria-expanded="true"] {
		.s-1 {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			margin: 0;
			margin-bottom: -4px;
		}
		.s-2 {
			display: none;
		}
		.s-3 {
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			margin: 0;
			margin-top: -4px;
		}
	}
	.navbar-toggler[aria-expanded="false"] {
		.s-1 {
			-webkit-transform: none;
			transform: none;
		}
		.s-2 {
			-webkit-transform: none;
			transform: none;
		}
		.s-3 {
			-webkit-transform: none;
			transform: none;
		}
	}
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $color_4;
	}
	&:focus {
		text-decoration: none;
		color: $color_4;
	}
}
.btn {
	outline: none !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	&:focus {
		outline: none !important;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
.navbar-brand {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	img {
		margin-right: 5px;
		width: 35px;
	}
	span {
		font-size: 22px;
		font-weight: 700;
		color: $color_5;
	}
}
.navbar-expand-lg {
	.navbar-collapse {
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
}
.slider_section {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: 2;
	color: $color_6;
	padding-bottom: 90px;
	.row {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.detail_box {
		color: $color_2;
		h1 {
			text-transform: uppercase;
			font-weight: bold;
		}
		p {
			margin-top: 20px;
		}
		a {
			display: inline-block;
			padding: 10px 40px;
			background-color: #162752;
			color: $color_3;
			border-radius: 35px;
			margin-top: 35px;
			&:hover {
				background-color: #5625a1;
			}
		}
	}
	.img_container {
		border: 7px solid #162752;
		border-radius: 100%;
		overflow: hidden;
		div#carouselExampleContarols {
			width: 100%;
			position: unset;
		}
		.img-box {
			img {
				width: 100%;
			}
		}
	}
	.carousel-control-prev {
		top: initial;
		left: initial;
		bottom: 5%;
		right: 10%;
		width: 45px;
		height: 45px;
		border: none;
		border-radius: 100%;
		opacity: 1;
		background-repeat: no-repeat;
		background-size: 8px;
		background-position: center;
		background-image: url(../images/prev.png);
		background-color: #ffffff;
		-webkit-transform: translate(-85px, 30px);
		transform: translate(-85px, 30px);
	}
	.carousel-control-next {
		top: initial;
		left: initial;
		bottom: 5%;
		right: 10%;
		width: 45px;
		height: 45px;
		border: none;
		border-radius: 100%;
		opacity: 1;
		background-repeat: no-repeat;
		background-size: 8px;
		background-position: center;
		background-image: url(../images/next.png);
		background-color: #162752;
		-webkit-transform: translate(-45px, 0);
		transform: translate(-45px, 0);
	}
}
.service_section {
	text-align: center;
	.heading_container {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.service_container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 35px 0;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		.box {
			margin: 25px 1%;
			-ms-flex-preferred-size: 31%;
			flex-basis: 31%;
			padding: 35px 25px 25px;
			border-radius: 15px;
			-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
			border-top: 15px solid transparent;
			overflow: hidden;
			-webkit-transition: all .1s;
			transition: all .1s;
			.img-box {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				height: 125px;
				img {
					width: 90px;
				}
			}
			.detail-box {
				margin-top: 25px;
				h5 {
					color: $color_5;
					font-weight: 600;
					position: relative;
				}
			}
			&:hover {
				border-top: 15px solid #162752;
			}
		}
		.box.active {
			border-top: 15px solid #162752;
		}
	}
	.btn-box {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-top: 25px;
		a {
			display: inline-block;
			padding: 10px 35px;
			background-color: #162752;
			color: $color_3;
			border-radius: 35px;
			&:hover {
				background-color: #5625a1;
			}
		}
	}
}
.about_section {
	background-color: #f3f0f6;
	.row {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.img_container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		.img-box {
			border: 5px solid #162752;
			border-radius: 100%;
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		.img-box.b1 {
			width: 70%;
		}
		.img-box.b2 {
			width: 50%;
			margin-left: auto;
			margin-top: -12%;
		}
	}
	.detail-box {
		margin-right: 15%;
		p {
			margin-top: 25px;
		}
		a {
			display: inline-block;
			padding: 10px 35px;
			background-color: #162752;
			color: $color_3;
			border-radius: 5px;
			margin: 25px 0 45px 0;
			&:hover {
				background-color: #5625a1;
			}
		}
	}
}
.blog_section {
	.heading_container {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		h2 {
			&::before {
				background-color: #ffffff;
			}
		}
	}
	.box {
		margin-top: 55px;
		background-color: #ffffff;
		-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
		.img-box {
			position: relative;
			img {
				width: 100%;
			}
		}
		.detail-box {
			padding: 25px 25px 15px;
			h5 {
				font-weight: bold;
			}
		}
	}
}
.contact_section {
	position: relative;
	form {
		margin-top: 45px;
		padding-right: 35px;
	}
	input {
		width: 100%;
		border: none;
		height: 50px;
		margin-bottom: 25px;
		padding-left: 25px;
		background-color: transparent;
		outline: none;
		color: $color_7;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
		&::-webkit-input-placeholder {
			color: $color_8;
		}
		&:-ms-input-placeholder {
			color: $color_8;
		}
		&::-ms-input-placeholder {
			color: $color_8;
		}
		&::placeholder {
			color: $color_8;
		}
	}
	input.message-box {
		height: 120px;
	}
	button {
		border: none;
		display: inline-block;
		padding: 12px 45px;
		background-color: #162752;
		color: $color_3;
		border-radius: 0px;
		margin-top: 35px;
		&:hover {
			background-color: #5625a1;
		}
	}
	.map_container {
		height: 100%;
		min-height: 325px;
		.map-responsive {
			height: 100%;
		}
	}
}
.footer_bg {
	background-image: url(../images/footer-bg.png);
	background-size: cover;
	background-position: top;
}
.info_section {
	background-color: #190734;
	color: $color_3;
	h6 {
		font-weight: bold;
	}
	.info_contact {
		margin-top: 60px;
		margin-bottom: 45px;
		.col-md-4 {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
		a {
			color: $color_3;
		}
		img {
			max-width: 100%;
			margin-right: 10px;
		}
	}
	.info_form {
		margin: 0 auto;
		margin-bottom: 45px;
		h4 {
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 20px;
		}
		form {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			input {
				background-color: #ffffff;
				border: none;
				-webkit-box-flex: 2.5;
				-ms-flex: 2.5;
				flex: 2.5;
				outline: none;
				color: $color_2;
				min-height: 42.4px;
				padding-left: 15px;
				&::-webkit-input-placeholder {
					color: $color_3;
					opacity: 0.2;
				}
				&:-ms-input-placeholder {
					color: $color_3;
					opacity: 0.2;
				}
				&::-ms-input-placeholder {
					color: $color_3;
					opacity: 0.2;
				}
				&::placeholder {
					color: $color_3;
					opacity: 0.2;
				}
			}
			button {
				-webkit-box-flex: 1;
				-ms-flex: 1;
				flex: 1;
				border: none;
				display: inline-block;
				padding: 10px 30px;
				background-color: #162752;
				color: $color_3;
				border-radius: 0;
				font-size: 15px;
				text-transform: uppercase;
				&:hover {
					background-color: #5625a1;
				}
			}
		}
	}
	.box {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.info_social {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		img {
			width: 35px;
			margin-right: 8px;
		}
	}
}
.footer_section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	p {
		color: $color_9;
		margin: 0 auto;
		text-align: center;
		padding: 20px;
		a {
			color: $color_9;
		}
	}
}
.scale-on-hover {
	transition: transform 0.3s ease;
	&:hover {
		transform: scale(1.1);
	}
}
@media (max-width: 992px) {
	.hero_area {
		height: auto;
	}
	.header_section {
		padding-top: 10px;
	}
	#navbarSupportedContent {
		margin-top: 25px;
	}
	.slider_section {
		padding-top: 75px;
		padding-bottom: 150px;
	}
	.about_section {
		.img-box {
			margin: 0 5%;
		}
		.detail-box {
			margin-right: 5%;
		}
		.img_container {
			.img-box.b2 {
				margin-top: -5%;
			}
		}
	}
	.service_section {
		.service_container {
			.box {
				-ms-flex-preferred-size: 48%;
				flex-basis: 48%;
			}
		}
	}
}
@media (max-width: 768px) {
	.slider_section {
		.detail_box {
			text-align: center;
		}
		.img_content {
			margin-top: 55px;
		}
	}
	.contact_section {
		.map_container {
			margin-top: 45px;
		}
		form {
			padding-right: 0;
		}
	}
	.info_section {
		.info_contact {
			a {
				margin-bottom: 15px;
				text-align: center;
			}
		}
		.info_social {
			justify-content: center;
		}
	}
	.service_section {
		.service_container {
			.box {
				flex-basis: 98%;
			}
		}
	}
}
@media (max-width: 576px) {
	.about_section {
		.img_container {
			.img-box.b1 {
				width: 80%;
			}
			.img-box.b2 {
				width: 55%;
			}
		}
	}
	.info_section {
		.info_form {
			form {
				flex-direction: column;
				input {
					width: 100%;
				}
				button {
					margin-top: 15px;
					padding: 10px 40px;
				}
			}
		}
	}
}
@media (max-width: 420px) {
	.slider_section {
		.carousel-control-prev {
			right: 0;
		}
		.carousel-control-next {
			right: 0;
		}
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}
